body {
    background-color: whitesmoke;
}
#header {
    display: block;
    height: 200px;
    width: 100%;
}

#content {
    margin-right: 0;
    margin-left: 0;
    background-color: #fff;
    border: 1px #ddd solid;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 2px 2px 1px rgba(0,0,0,0.1);
    padding: 10px 30px;
}